.loading-content {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 35px;
  justify-content: space-between;
  margin-top: 70px;
}

.loading-content h1 {
  color: rgb(84, 11, 14);
  font-size: 30px;
  font-weight: 400;
  padding-top: 20px;
}
